<%- include('partials/header') -%>

<body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0" style="font-family:'Lato',sans-serif;">

  <main class="bg-white lg:max-w-4xl max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    <section class="flex justify-between flex-row">
      <h2 class="font-bold text-2xl w-4/5">Hi <%= user.userName %>! 👋</h2>
      <%- include('partials/navbar') -%>
    </section>

    <!-- Add New Post -->
    <section class="mt-10">
      <h3 class="font-bold text-xl">Add a post</h3>
      <form class="flex flex-col" action="/post/createPost" enctype="multipart/form-data" method="POST">
        <div class="mb-6 pt-3 rounded bg-gray-200">
          <label for="title" class="block text-gray-700 text-sm font-bold mb-2 ml-3">Location Title</label>
          <input type="text" id="title" name="title" required class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3">
        </div>
        <div class="mb-6 pt-3 rounded bg-gray-200">
          <label for="description" class="block text-gray-700 text-sm font-bold mb-2 ml-3">Description of Location</label>
          <textarea id="description" name="description" required class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3"></textarea>
        </div>
        <div class="mb-6 pt-3 rounded bg-gray-200">
          <label for="imgUpload" class="block text-gray-700 text-sm font-bold mb-2 ml-3">Upload Image (.jpg/.jpeg/.png allowed)</label>
          <input type="file" id="imgUpload" name="file" required class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3">
        </div>
        <!-- Coordinates -->
        <div class="flex justify-between">
          <div class="w-2/4 mr-2 mb-6 pt-3 rounded bg-gray-200">
            <label for="coordinatesLat" class="block text-gray-700 text-sm font-bold mb-2 ml-3">Coordinates: Latitude</label>
            <input type="number" name="coordinatesLat" id="coordinatesLat" min="-90" max="90" step=".0001" placeholder="39.5299" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3">
          </div>
          <div class="w-2/4 ml-4 mb-6 pt-3 rounded bg-gray-200">
            <label for="coordinatesLong" class="block text-gray-700 text-sm font-bold mb-2 ml-3">Coordinates: Longitude</label>
            <input type="number" name="coordinatesLong" id="coordinatesLong" min="-180" max="180" step=".0001" placeholder="-119.8143" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3">
          </div>
        </div>
        <button type="submit" value="Upload" class="bg-red-600 hover:bg-yellow-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200">Submit</button>
      </form>
    </section>
  </main>

  <!-- My Posts -->
  <section class="bg-white lg:max-w-4xl max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    <h3 class="font-bold text-2xl">My posts</h3>
    <div class="">
      <ul>
        <li class="mt-6">
          <% for(var i=0; i<posts.length; i++) {%>
          <a class="flex justify-start hover:scale-105 bg-gray-100 hover:bg-gray-200" href="/post/<%= posts[i]._id%>">
            <img class="object-scale-down h-60 w-60 p-4 my-auto" src="<%= posts[i].image%>" alt="User submitted image of <%= posts[i].title%>">
            <% if(posts[i].title.length > 60){ %>
            <p class="ml-1 p-6 my-auto"> <%= posts[i].title.substring(0,60) + "..." %></p>
            <% } else{ %>
            <p class="ml-1 p-6 my-auto"> <%= posts[i].title %></p>
            <% } %>
          </a>
          <% } %>
        </li>
      </ul>
    </div>
  </section>
</body>

<%- include('partials/footer') -%>